Body{
    font-family; helvetica;
              
        
}
h1, h2 {
    color: hotpink; 
    font-family: 
}


h1{ 
    font-size: 40 px;
font-family: 
}

h2{
    font-size: 25px;
}
h3{ 
    font-family: helvetica;
    font-size:  20px
}

    

p {
    font-size: 
    text-align: justify;
    font-family:
}
    }